<!DOCTYPE html>
<html>
<head>
  <title>GameNet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >

<% if current_user %>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Login", new_user_session_path %>
<%= link_to "Sign Up", new_user_registration_path %>
<% end %>

<p><%= notice %></p>
<p><%= alert %></p>
<%= yield %>

</body>
</html>
